.container {
  width: 500px;
  margin: auto;

  min-height: 500px;
}

.container heading {
  display: flex;
  padding: 30px;
  align-items: center;
}

.container heading h1 {
  margin-right: auto;
}

.btn {
  border: 1px solid black;
  width: 80px;
  height: 40px;

  cursor: pointer;
}

.kaata h3,p{
  margin: 5px 10px;
  padding: 0;
  
}

.kaata {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.kaata h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

label {
  display: block;
  margin-left: 10px;
  font-weight: bold;
}

.form-control input {
  width: 90%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

.paid {
  border-left: 5px solid green;
}

.submit {
  border: 1px solid black;
  width: 80%;
  height: 40px;
  color: white;
  background-color: black;
  margin-left: 9%;
  margin-top: 20px;
  cursor: pointer;
}


.Sum {
  border: 1px solid black;
  padding: 20px 10px;
  text-align: center;
  font-weight: bold;
}