.Add {
    position: relative;
    background: #444;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    padding: 1rem 3rem;
    transition: 0.2s;
    margin: 5px 5rem;
  }
  
  .Add:hover {
    letter-spacing: 0.2rem;
    padding: 1.1rem 3.1rem;
    background: #39FF14;
    color: #39FF14;
    /* box-shadow: 0 0 35px #39FF14; */
    animation: box 3s infinite;
  }
  
  .Add::before {
    content: "";
    position: absolute;
    inset: 2px;
    background: #272822;
  }
  
  .Add span {
    position: relative;
    z-index: 1;
  }
  .Add i {
    position: absolute;
    inset: 0;
    display: block;
  }
  
  .Add i::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 80%;
    top: -2px;
    border: 2px solid #39FF14;
    background: #272822;
    transition: 0.2s;
  }
  
  .Add:hover i::before {
    width: 15px;
    left: 20%;
    animation: move 3s infinite;
  }
  
  .Add i::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 20%;
    bottom: -2px;
    border: 2px solid #39FF14;
    background: #272822;
    transition: 0.2s;
  }
  
  .Add:hover i::after {
    width: 15px;
    left: 80%;
    animation: move 3s infinite;
  }
  
  @keyframes move {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes box {
    0% {
      box-shadow: #27272c;
    }
    50% {
      box-shadow: 0 0 25px #39FF14;
    }
    100% {
      box-shadow: #27272c;
    }
  }
  
